/* CSS with mastermind */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.container {
    /* height: 100vh;
    background: peachpuff;
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: black; */

    display: grid;
    grid-template: 100px 1fr 1fr/ 1fr 1fr 1fr;
    grid-gap : 10px;
    grid-template-areas:
            "header header header "
            "nav section aside"
            "nav section aside";
    height: 100vh;
}

header{
    background:#fff;
    grid-area:header;
    border-bottom: black solid 2px;
}

aside {
    background: #fff;
    min-height: 100%;
    grid-area: aside;
    border: black solid 2px ;
}

section {
    background: cornsilk;
    min-height: 95%;
    min-width: 600px;
    padding: 1em;
    grid-area: section;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    grid-gap : 10px;
    grid-template-areas:
            "playfield score"
            "playfield endgame"
            "playfield workspace";
}
nav {
    background: #fff;
    min-height: 100%;
    min-width: 200px;
    grid-area: nav;
    /* border: black solid 2px ; */
}

div.workspace {
    min-height: 100%;
    min-width: 200px;
    grid-area: workspace;
}

div.playfield {
    min-height: 100%;
    min-width: 350px;
    grid-area: playfield;
}

div.score {
    min-height: 100%;
    min-width: 200px;
    background: yellow;
    grid-area: score;
}

div.endgame {
    min-height: 100%;
    min-width: 200px;
    grid-area: endgame;
}

div#endgame{
    display: none;
}

div.endgame h2{
    text-align: center;
    font-size: 4em;

}

h1.title {
    text-align: center;
    padding: 10px 0 0 0 ;
}

/* Game Buttons ------------------------*/


.button{
    width: 190px;
    background: black;
    height: 30px;
    color: white;
    border-radius: 5px;
    font-size: 110%;
}



/* Circles ----------------------------------------*/

div.circle {
    padding: 20px;
    display: inline-block;
    border: solid black 2px;
    margin: 0;
}

.circle {
    border-radius: 50%;
}

.red{
    background: red;
}

.blue{
    background: blue;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

/* Dots -------------------------------------- */

span {
    padding: 12px;
    border-radius: 50%;
    display: inline-block;
    border: solid black 2px;
    margin-left: 5px;
}

span.black {
    background: black;
}

span.white {
    background-color: white;
}

#restart {
    display: block;
}

p.quote {
    text-align: center;
    position: relative;
    top: 42%;
    font-size: 2em;
}

/* Side Buttons -----------------------------*/
nav ul {
    text-align: center;
    position: relative;
    top: 33%;
}

nav ul li .button{
    height: 50px;
    font-size: 150%;
}

button#normal {
    background: red;
}

button#circles {
    background: red;
}

button#squares {
    background: black;
}


