.circle {
    padding: 25px;
    background: white;
    border-radius: 50%;
    border: black solid 2px;
    display: inline-block;
}

.button{
    width: 220px;
    background: black;
    height: 25px;
    color: white;
    border-radius: 5px;
}

.container {
    height: 100vh;
    background: peachpuff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#playfield{
    background-color: white;
    width: 600px;
    height: 100%;
    padding: 1em;
}
.red{
    background: red;
}

.blue{
    background: blue;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}


span {
    padding: 12px;
    border-radius: 50%;
    display: inline-block;
    border: solid black 2px;
    margin-left: 5px;
}

span.black {
    background: black;
}

span.white {
    background-color: white;
}
