/* CSS with mastermind */


body {
    background: white;
}

.container {
    /* height: 100vh;
    background: peachpuff;
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: black; */

    display: grid;
    grid-template: 100px 1fr 1fr/ 1fr 1fr 1fr;
    grid-gap : 10px;
    grid-template-areas:
            "header header header "
            "nav section aside"
            "nav section aside";
    height: 100vh;
}

header{
    background:peachpuff;
    grid-area:header;
}

aside {
    background: green;
    min-height: 100%;
    grid-area: aside;
}

section {
    background: cornsilk;
    min-height: 95%;
    min-width: 600px;
    padding: 1em;
    grid-area: section;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    grid-gap : 10px;
    grid-template-areas:
            "playfield empty"
            "playfield workspace"
            "playfield buttons";
}
nav {
    background: black;
    min-height: 100%;
    min-width: 200px;
    grid-area: nav;
}

div.workspace {
    min-height: 100%;
    min-width: 100%;
    grid-area: workspace;
}

div.buttons {
    min-height: 100%;
    min-width: 200px;
    grid-area: buttons;
}
div.playfield {
    min-height: 100%;
    min-width: 350px;
    grid-area: playfield;
}



h1.title {
    text-align: center;
}
div.circle {
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    border: solid black 2px;
    margin: 0;
}


.button{
    width: 190px;
    background: black;
    height: 25px;
    color: white;
    border-radius: 5px;
}


.red{
    background: red;
}

.blue{
    background: blue;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}


span {
    padding: 12px;
    border-radius: 50%;
    display: inline-block;
    border: solid black 2px;
    margin-left: 5px;
}

span.black {
    background: black;
}

span.white {
    background-color: white;
}

#restart {
    display: block;
}